@model ForgotPasswordModel

@{
	ViewBag.Title = "Восстановление пароля";
	Layout = "_Layout";
}

<div class="content">
	<div class="row no-gutters h-100">
		<div class="col-md-5 col-xl-6 d-none d-md-block picture-container">&nbsp;</div>
		<div class="col-12 col-md-7 col-xl-6 pt-5 pt-md-0 form-container">
			<form asp-action="ForgotPassword" asp-controller="Account" method="post" class="form" asp-antiforgery="true">
				<div class="text-center text-md-left">
					<a href="~/">
						<img class="form_logo" src="~/img/logo.png" alt="Logo"/>
					</a>
				</div>

				<h2 class="text-center text-md-left">@ViewBag.Title</h2>
				<div class="form-group v-email">
					<label class="form-group_label" asp-for="Email">Email</label>

					<input type="text" value="@Model.Email" autocomplete="off" class="form-group_control" asp-for="Email"/>

					<span asp-validation-for="Email"></span>
				</div>
				<button type="submit" class="button">Восстановить пароль</button>
				<div class="mb-5 mb-md-0 text-center">
					<div class="text-sm-right my-3 my-md-0">
						<a asp-action="Login">Войти</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>