@model ForgotPasswordModel

@{
	ViewBag.Title = $"На электронную почту '{Model.Email}' отправлено письмо на установку нового пароля";
	Layout = "_Layout";
}

<div class="content">
	<div class="row no-gutters h-100">
		<div class="col-md-5 col-xl-6 d-none d-md-block picture-container">&nbsp;</div>
		<div class="col-12 col-md-7 col-xl-6 form-container">
			<form class="form" asp-antiforgery="true">
				<div class="text-center text-md-left">
					<a href="~/">
						<img class="form_logo" src="~/img/logo.png" alt="Logo"/>
					</a>
				</div>
				<h4 class="text-center text-md-left message-box message-box__success">@ViewBag.Title</h4>
			</form>
		</div>
	</div>
</div>